html,
body {
    height: 100%;
    font-family: "Monument Grotesk", Helvetica, sans-serif;
    font-feature-settings: 'dlig' on, 'ss02' on;
    background: #D7D2CB;
}


html {
    font-size: 62.5%;
    font-weight: 300;
}

body {
    font-size: 1.5rem;
    line-height: 1.3;
    overflow-x: hidden;
    margin: 0;
}

* {
    box-sizing: border-box;
}