html,
body {
    height: 100%;
    font-family: "Da Vinci", Arial, Helvetica, sans-serif;
}


html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    line-height: 1.3;
    overflow-x: hidden;
    margin: 0;
}

* {
    box-sizing: border-box;
}