.contact {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;

  &__block {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .eyebrow {
      font-family: "Da Vinci", serif;
      font-size: 6.4rem;
    }
  }

  &__link {
    font-size: 8rem;
    font-weight: 300;
    display: flex;
    justify-content: baseline;
    gap: 3.4rem;
  }
}
