.inline-link {
  display: flex;
  align-items: baseline;
  gap: clamp(0.8rem, 0.5vw, 0.8vw);

  &.small {
    font-size: clamp(1.4rem, 1.2vw, 1vw);
  }

  &:hover {
    text-decoration: underline;

    .arrow {
      &--1 {
        transform: translate(200%, -200%);
        transition: transform 0.2s ease-in-out;
      }

      &--2 {
        transform: translate(0, -50%);
        transition: transform 0.2s ease-in-out;
      }
    }
  }

  svg {
    height: clamp(0.8rem, 0.9vw, 0.5vw);
    width: clamp(0.8rem, 0.9vw, 0.5vw);

    path {
      @media (prefers-color-scheme: light) {
        fill: palette(black);
      }
      @media (prefers-color-scheme: dark) {
        fill: palette(beige);
      }
    }
  }

  &__box {
    position: relative;
    overflow: hidden;

    .arrow {
      &--1 {
        transition: transform 0.2s ease-in-out;
      }

      &--2 {
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translate(-200%, 200%);
        transition: transform 0.2s ease-in-out;
      }
    }
  }
}
