.nav {
  padding: 2rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;

  @media (prefers-color-scheme: light) {
    background: linear-gradient(
      180deg,
      #d7d2cb 0%,
      rgba(215, 210, 203, 0) 103.75%
    );
  }

  @media (prefers-color-scheme: dark) {
    background: linear-gradient(
      180deg,
      #1c1f2a 0%,
      rgba(28, 31, 42, 0) 103.75%
    );
  }

  @media only screen and (min-width: $screen-medium) {
    padding: 6.4rem 0;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__right {
    display: flex;
    flex-direction: column;
    font-size: clamp(1.6rem, 1.8vw, 1.6vw);
    line-height: 80%;
    align-items: flex-end;
    justify-content: space-between;
    height: clamp(4rem, 4.6vw, 4vw);

    .contact {
      display: flex;
      align-items: baseline;
      gap: clamp(1rem, 0.6vw, 0.8vw);

      svg {
        height: clamp(1rem, 1vw, 0.85vw);
        width: clamp(1rem, 1vw, 0.85vw);

        path {
          @media (prefers-color-scheme: light) {
            fill: palette(black);
          }
          @media (prefers-color-scheme: dark) {
            fill: palette(beige);
          }
        }
      }
    }

    .lang {
      margin: 0;
    }
  }

  &__logo {
    height: clamp(4rem, 4.6vw, 4vw);
    width: clamp(4rem, 4.6vw, 4vw);
  }
}
