:root {
  color-scheme: light dark;
}

html,
body {
  font-family: "Monument Grotesk", Helvetica, sans-serif;
  font-feature-settings: "dlig" on, "ss02" on;
  background-color: white;
}

html {
  font-size: 62.5%;
  min-height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
  scroll-snap-stop: always;
  scroll-behavior: smooth;

  @media only screen and (min-width: $screen-medium) {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
  }
}

body {
  font-size: 1.6rem;
  line-height: 1.1;
  margin: 0;
}

* {
  box-sizing: border-box;
}
