:root {
  color-scheme: light dark;
}

html,
body {
  font-family: "Monument Grotesk", Helvetica, sans-serif;
  font-feature-settings: "dlig" on, "ss02" on;

  @media (prefers-color-scheme: light) {
    background-color: palette(beige);
  }

  @media (prefers-color-scheme: dark) {
    background-color: palette(black);
  }
}

html {
  font-size: 62.5%;
  min-height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
  scroll-snap-stop: always;

  @media only screen and (min-width: $screen-medium) {
    // scroll-snap-type: y mandatory;
  }
}

body {
  font-size: 1.6rem;
  line-height: 1.1;
  margin: 0;

  @media (prefers-color-scheme: light) {
    color: palette(black);
  }

  @media (prefers-color-scheme: dark) {
    color: palette(beige);
  }
}

* {
  box-sizing: border-box;
}
