.button {
    padding: 0.2rem 1.2rem;
    border-radius: 2.1rem;

    @media (prefers-color-scheme: light) {
        color: palette(beige);
        background-color: palette(orange);
    }

    @media (prefers-color-scheme: dark) {
        color: palette(black);
        background-color: palette(yellow);
    }
}