// Screen Widths
$screen-xxsmall: 320px;
$screen-xsmall: 480px;
$screen-small: 600px;
$screen-medium: 768px; //tablet
$screen-large: 1024px; //desktop
$screen-xlarge: 1441px; // full width
$screen-xxlarge: 1680px; // full width

// Grid
$grid-max-width: 1440px;
$grid-large-width: 1280px;
$grid-min-width: 320px;
